// layout 2
body {
  background: linear-gradient(rgba(70, 70, 70, 0.7), rgba(70, 70, 70, 0.7)), url('../images/water-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
