.hero {
  width: 100%;
  height: $hero-height;
  background: $hero-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-inner {
  background: rgba(61, 61, 61, 0.5);
}
